# Email settings
EMAIL_HOST_USER='your email'
EMAIL_HOST_PASSWORD="your email host password"

# Django settings
DJANGO_SECRET_KEY = "your django secret key"

# Database settings
DATABASE_NAME="transaction_db"
DATABASE_USER="database username"
DATABASE_PASSWORD="database password"
DATABASE_HOST= "localhost"
DATABASE_PORT=3306

# Adjust the file paths
FOLDER_PATH='CURRENT_FOLDER/file_storage'
SAVE_FOLDER='CURRENT_FOLDER/encrypted_storage'
CURRENT_FOLDER='/path/to/your/project'
PEM_FOLDER='CURRENT_FOLDER/Pub_Priv_keys'

# RSA key generation/crypto
PUBLIC_EXP=65537
KEY_SIZE=1024
